body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.index{
    background-image: url(https://fondosmil.com/fondo/23110.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    opacity: 90%;
}

ul{
    float: right;
}

nav ul{
    float: right;
    margin-right: 5%;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin-left: 10px;
}

nav ul li a{
    color: white;
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

a:hover{
    color: rgb(175, 32, 204);
}

.brand img{
    width: 73px;
    height: 73px;
}

.brand{
    margin-left: 3%;
    line-height: 80px;
}

.brand a{
    color: white;
    font-size: 30px;
}

.centrado{
    vertical-align: middle;
}

footer {
    align-self: flex-end;
    background-color: black;
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 80%;
  }

footer p {
    color: rgba(255,255,255,9);
    font-family: 'segoe ui';
    text-align: center;
  }