<!DOCTYPE html>

{% load static %}

<html lang="es">
<head>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <meta charset="utf-8">
    <title>HTML</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="loginPage">Login</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
    </div>
    <img src="{%static "images/background.jpg" %}">
  <p>Esta página web es una página HTML válida.</p>
</body>
</html>
